# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac stuff
.DS_Store

# Sublime
*.sublime-project
*.sublime-workspace

# npm
node_modules

# Temporary files
*~

# Log files
log/*.log
log/*.txt

#ignore the build asset file as we don't use it right now.
build/index.asset.php

#NPM
package-lock.json

#Sass map file
css/pmpro-goals.css.map

